* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {

    font-size: 2rem;
    background-size:  cover;
    background-image: url("village-conques.jpg");
    background-repeat: no-repeat;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    color: indigo;
}

#rules {
    text-align: center;
    margin-top: 2rem;
    width: 80%;
    margin-left: 10rem;
    padding: 1rem;
    color: white;
    background-color: rgba(75, 0, 130, 0.61);
}

#between-letters {
    margin-top: 2rem;
    color: white;
}

#word {
    font-size: 1.5rem;
}

#trying, #used-letters, #used {
    font-size: 1.5rem;
    color: white;
    margin-left: 2rem;
}

#letterWrite {
    color: white;
    background-color: rgba(75, 0, 130, 0.61);
}

#used {
    display: flex;
    width: 50%;
    margin-top: 2rem;
}

#addLetter {
    margin-top: 1rem;
    width: 10%;
    margin-left: 0.5rem;
}

#submit {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

#between-letters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#try {
    color: red;
    font-weight: bold;
}

#trying {
    margin-top: 2rem;
    margin-bottom: 2rem;
}